$primary: #150080;
$accent: #d08642;
$bg: #ffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;

* {
  margin: 0;
  padding: 0;
}

.quiz-container {
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  height: 100vh;
  display: grid;
  place-items: center;
}
